<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Blog</title>
</head>
<body>
    <form action="/blogs" method="POST">
        <label for="title">Title</label><br>
        <input type="text" name="title" ><br><br>
        <label for="content">Blog content</label><br>
        <input type="text" name="content"><br><br>
        <input type="submit" >
    </form>
</body>
</html>